<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>speed icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,451}</string>
                <key>spriteSourceSize</key>
                <string>{284,451}</string>
                <key>textureRect</key>
                <string>{{1,1},{284,451}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>不可领取箱子.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,90}</string>
                <key>spriteSourceSize</key>
                <string>{107,90}</string>
                <key>textureRect</key>
                <string>{{378,432},{107,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>商城icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,306}</string>
                <key>spriteSourceSize</key>
                <string>{375,306}</string>
                <key>textureRect</key>
                <string>{{1,287},{375,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>商店按键.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,143}</string>
                <key>spriteSourceSize</key>
                <string>{130,143}</string>
                <key>textureRect</key>
                <string>{{378,287},{130,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>垃圾桶.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,387}</string>
                <key>spriteSourceSize</key>
                <string>{280,387}</string>
                <key>textureRect</key>
                <string>{{1,595},{280,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>带光的.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,179}</string>
                <key>spriteSourceSize</key>
                <string>{206,179}</string>
                <key>textureRect</key>
                <string>{{283,595},{206,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>武器购买按键.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,143}</string>
                <key>spriteSourceSize</key>
                <string>{220,143}</string>
                <key>textureRect</key>
                <string>{{283,776},{220,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>等级框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{454,1},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>主面.png</string>
            <key>size</key>
            <string>{509,983}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edcfa09c4b0bc4fc6f5c28f0f4ca9533:5bb84bb54d05cdf3f511788a9605e07e:c0d2fdbf9ea4365f4da4aa05f6e09606$</string>
            <key>textureFileName</key>
            <string>主面.png</string>
        </dict>
    </dict>
</plist>
