<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>列表底层.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,160}</string>
                <key>spriteSourceSize</key>
                <string>{580,160}</string>
                <key>textureRect</key>
                <string>{{1225,1},{580,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>商品按键.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,99}</string>
                <key>spriteSourceSize</key>
                <string>{173,99}</string>
                <key>textureRect</key>
                <string>{{1225,583},{173,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>商店底.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1225,758},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>底色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{610,1091}</string>
                <key>spriteSourceSize</key>
                <string>{610,1091}</string>
                <key>textureRect</key>
                <string>{{1,1},{610,1091}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>弹窗底层.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{610,1091}</string>
                <key>spriteSourceSize</key>
                <string>{610,1091}</string>
                <key>textureRect</key>
                <string>{{613,1},{610,1091}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>商店.png</string>
            <key>size</key>
            <string>{1386,1093}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:578170725a44bfd7f3d533da9fb866c5:42b9e4d7db7d5e749b661bc30bc6b878:42751a9ece2d5b45faf48f6065963ab6$</string>
            <key>textureFileName</key>
            <string>商店.png</string>
        </dict>
    </dict>
</plist>
