<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>光环.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,492}</string>
                <key>spriteSourceSize</key>
                <string>{492,492}</string>
                <key>textureRect</key>
                <string>{{1,111},{492,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>底.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,653}</string>
                <key>spriteSourceSize</key>
                <string>{550,653}</string>
                <key>textureRect</key>
                <string>{{495,146},{550,653}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>弹窗.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,800}</string>
                <key>spriteSourceSize</key>
                <string>{550,800}</string>
                <key>textureRect</key>
                <string>{{1150,166},{550,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>按键.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,143}</string>
                <key>spriteSourceSize</key>
                <string>{395,143}</string>
                <key>textureRect</key>
                <string>{{799,1},{395,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>新武器.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,108}</string>
                <key>spriteSourceSize</key>
                <string>{397,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{397,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>解锁新车.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,108}</string>
                <key>spriteSourceSize</key>
                <string>{397,108}</string>
                <key>textureRect</key>
                <string>{{400,1},{397,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>金币堆.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,182}</string>
                <key>spriteSourceSize</key>
                <string>{163,182}</string>
                <key>textureRect</key>
                <string>{{1593,1},{163,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>领取.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,143}</string>
                <key>spriteSourceSize</key>
                <string>{395,143}</string>
                <key>textureRect</key>
                <string>{{1196,1},{395,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>弹窗.png</string>
            <key>size</key>
            <string>{1951,717}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e832357934632580b9fdcf540069aa01:06dcffce090228d8afa64114ec456a8e:629b4fb159650f9783a22bafa473e6f0$</string>
            <key>textureFileName</key>
            <string>弹窗.png</string>
        </dict>
    </dict>
</plist>
