<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>关闭按钮.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{48,704},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>底螺丝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,50}</string>
                <key>spriteSourceSize</key>
                <string>{308,50}</string>
                <key>textureRect</key>
                <string>{{193,428},{308,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>底血条.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,45}</string>
                <key>spriteSourceSize</key>
                <string>{347,45}</string>
                <key>textureRect</key>
                <string>{{1,428},{347,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>底钻石.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,50}</string>
                <key>spriteSourceSize</key>
                <string>{180,50}</string>
                <key>textureRect</key>
                <string>{{1,255},{180,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>按键.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,143}</string>
                <key>spriteSourceSize</key>
                <string>{395,143}</string>
                <key>textureRect</key>
                <string>{{48,307},{395,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>武器产生零件.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,205}</string>
                <key>spriteSourceSize</key>
                <string>{206,205}</string>
                <key>textureRect</key>
                <string>{{1,48},{206,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>螺丝icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{1,307},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>血量条.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,45}</string>
                <key>spriteSourceSize</key>
                <string>{240,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>血量条蒙版.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,22}</string>
                <key>spriteSourceSize</key>
                <string>{337,22}</string>
                <key>textureRect</key>
                <string>{{209,89},{337,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>钻石icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,34}</string>
                <key>spriteSourceSize</key>
                <string>{39,34}</string>
                <key>textureRect</key>
                <string>{{209,48},{39,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>通用部分.png</string>
            <key>size</key>
            <string>{244,780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a1a7a4e9510b8ddb976064b011ff45e:28886e86370f03879f3bfa296fe77070:1f7e60b9460924bf93095e5088a5e09c$</string>
            <key>textureFileName</key>
            <string>通用部分.png</string>
        </dict>
    </dict>
</plist>
