<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>16已领取的蒙版.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1289,490},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7光.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,138}</string>
                <key>spriteSourceSize</key>
                <string>{505,138}</string>
                <key>textureRect</key>
                <string>{{1,719},{505,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7底.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,120}</string>
                <key>spriteSourceSize</key>
                <string>{487,120}</string>
                <key>textureRect</key>
                <string>{{1167,167},{487,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>光.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,138}</string>
                <key>spriteSourceSize</key>
                <string>{168,138}</string>
                <key>textureRect</key>
                <string>{{508,719},{168,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>分享.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,281}</string>
                <key>spriteSourceSize</key>
                <string>{313,281}</string>
                <key>textureRect</key>
                <string>{{803,538},{313,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>声音-关.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,213}</string>
                <key>spriteSourceSize</key>
                <string>{297,213}</string>
                <key>textureRect</key>
                <string>{{1411,1},{297,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>声音-开.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{285,213}</string>
                <key>spriteSourceSize</key>
                <string>{297,213}</string>
                <key>textureRect</key>
                <string>{{1411,300},{285,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>左侧.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,1280}</string>
                <key>spriteSourceSize</key>
                <string>{164,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>已领取对号.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,53}</string>
                <key>spriteSourceSize</key>
                <string>{59,53}</string>
                <key>textureRect</key>
                <string>{{1420,753},{59,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>已领取的蒙版.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,138}</string>
                <key>spriteSourceSize</key>
                <string>{505,138}</string>
                <key>textureRect</key>
                <string>{{1,719},{505,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>已领取蒙版.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,120}</string>
                <key>spriteSourceSize</key>
                <string>{487,120}</string>
                <key>textureRect</key>
                <string>{{1289,1},{487,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>底.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,800}</string>
                <key>spriteSourceSize</key>
                <string>{550,800}</string>
                <key>textureRect</key>
                <string>{{1,167},{550,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>弹出建.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,164}</string>
                <key>spriteSourceSize</key>
                <string>{84,164}</string>
                <key>textureRect</key>
                <string>{{1420,587},{84,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行榜.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,220}</string>
                <key>textureRect</key>
                <string>{{1118,656},{300,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>正常和不可领取状态底.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{678,719},{150,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>签到.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,369}</string>
                <key>spriteSourceSize</key>
                <string>{362,369}</string>
                <key>textureRect</key>
                <string>{{803,167},{362,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>侧栏.png</string>
            <key>size</key>
            <string>{1625,877}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62a1a3bfb5bbb93a0db323371e440d90:f7836e67f839d10c5117a94c7053da9a:d632a55f02ecab5aeddf39c4fcd26d80$</string>
            <key>textureFileName</key>
            <string>侧栏.png</string>
        </dict>
    </dict>
</plist>
